[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Dependencies will be installed from requirements.txt
# This file is mainly for Python version specification

[requires]
python_version = "3.9" 